*.csv
*.mp4
*.png
*.jpg
*.err
*.txt
*.log
*.pyc
*.pth
*.DS_Store*
*.o
*.so
*.egg*
*.json
*.zip
*.tar.gz
*.npy
=*
*.h5
*.hdf5
*.pkl
*.tfrecord*


pretrained/*
checkpoints/*
RoboVIP_data*
bridge_rlds/*
weights/*



!preprocess/oneformer_code/oneformer/data/bpe_simple_vocab_16e6.txt
!requirements.txt
!.vscode/launch.json
!__assets__/*